extends base.pug
block header
 header
  nav.nav-links.row
   ul.navbar
    li.features
      a.nav(href=' ') FEATURES 
    li.details
      a.nav(href=' ') DETAILS 
    li.Reviews
      a.nav(href=' ') REVIEWS
    li.Plans
      a.nav(href='/plans') PLANS
    if name
       li.name
         a.pro-name(href='/profile' ) #{name}
       li.logout
         a.nav(href='/logout' ) LOGOUT
    else     
       li.signup-nav
         a.nav(href='/login') LOGIN
  .message
    h1.meal-message MEAL PLANS
    h1.meal-message
      | FOR 
      span.last-part EVERYONE
    button.book Book Now 
    button.show-more Show me more 
block content
 section#features
  .topdiv.row
    h2 AWESOME FEATURES
  .cards.row
    .days.col.span-1-of-3.box
      i.far.fa-calendar-check.icon
      h3.feature-heading 365 DAYS/YEAR
      p
        | Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can
        | also choose to order more flexibly if that's your style.
    .organic.col.span-1-of-3.box
      i.fas.fa-seedling.icon
      h3.feature-heading 100% ORGANIC
      p
        | All our vegetables are fresh, organic and local. Animals are raised without added hormones or antibiotics.
        | Good for your health, the environment, and it also tastes better!
    .delivery.col.span-1-of-3.box
      i.fas.fa-truck.icon
      h3.feature-heading 30 MINUTES OR FREE
      p
        | You're only twenty minutes away from your delicious and super healthy meals delivered right to your home. We
        | work with the best chefs in each town to ensure that you're 100% happy.
 section#steps
  .row.topdiv
    h2 STEPS TO FOLLOW
  .content-div.row
    .img-div.col.span-1-of-2
      img.step-img(src='images/Capture.Png' alt='step-image')
    .three-step.col.span-1-of-2
      .first
        .first-step
          | 1
        p.step-text Choose the subscription plan that best fits your needs and sign up today.
      .first
        .first-step
          | 2
        p.step-text
          | Order your delicious meal using our mobile app or website. Or you can even call us !
      .first
        .first-step
          | 3
        p.step-text Enjoy your meal after less than 20 minutes. See you the next time!
 section#review-section
   .topdiv-review.row
    h2 REVIEWS
   .cards.row
    .card.col.span-1-of-3
      h3.review-head DAVID SMITH
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt
        | ipsam, magnam eius repellat perferendis porro, iste voluptas!.
      p.star ⭐⭐⭐⭐⭐
    .card.col.span-1-of-3
      h3.review-head DAVID SMITH
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt
        | ipsam, magnam eius repellat perferendis porro, iste voluptas!.
      p.star ⭐⭐⭐⭐⭐
    .card.col.span-1-of-3
      h3.review-head DAVID SMITH
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt
        | ipsam, magnam eius repellat perferendis porro, iste voluptas!.
      p.star ⭐⭐⭐⭐⭐
 section#signup
  .topdiv-signup.row
   h2 START EATING HEALTHY TODAY
  .signup-parent.row
   each plan in plans
     include planCard.pug         
 section#contact-us
   .topdiv.row
    h2 CONTACT US
   .contact.row
    .contact-video.col
      video.bg-video__content(autoplay='' muted='' loop='')
        source(src='images/Avocado.mp4' type='video/mp4')
        |           Your browser is not supported
    .contact-form.col
      .name
        p Name
        input.text(type='text' placeholder='Your Name')
      .email
        p Email
        input.text(type='text' placeholder='Your Email')
      .how
        p How did you find us
        select.text(name='' id='')
          option(value='')
            | friends
          option(value='') search
          option(value='') advertsiment
          option(value='') other
      .drop
        p Drop us a line
        textarea.text.area(name='' id='' placeholder='Your Message')
      .agree
        p
          input.checkbox(type='checkbox' name='email')
          |  I have read and agree with all the Privacy Policy
          |             and Terms Conditions
      .send-mes
        button.book.send  SEND MESSAGE
 
        

