/* ----------------------------------------------------------- */
/* Basic */
/* ----------------------------------------------------------- */

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    color:#555;
    font-family: 'Lato','Arial',sans-serif ;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* ----------------------------------------------------------- */
/* REUSABLE */
/* ----------------------------------------------------------- */

section {
    padding: 80px 0; 
}

.row{

    margin: 0 auto;
}
/*------ Buttons------- */
.book{
    background-color:#8e44ad;
    outline:none;
    border:none;
    height: 45px;
    font-size: 1rem;
    color:white;
    padding:10px 35px;
    border-radius: 15px;
    transition: transform 1s;
    cursor: pointer;
    margin-top: 25px;
    
}
.book:hover{
transform:scale(1.2);
box-shadow: 3px 3px 10px 10px rgba(230, 101, 191, 0.15);
}
.show-more:hover{
transform:scale(1.2);
background-color:#8e44ad;
color: white;

}

.show-more{
background-color:transparent;
outline:none;
border:1px solid #8e44ad;
height: 45px;
font-size: 1rem;
color:#8e44ad;
padding:10px 35px;
border-radius: 15px;
margin-left: 40px;
transition: transform 1s;
cursor: pointer;

}

/* -----Headings------ */

h1 {
    margin-top :0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 240%;
    font-weight:300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing:4px;
}

h2{
    margin-top :0px;
    margin-bottom: 0px;
    font-size: 180%;
    font-weight:300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing:4px;
    text-align: center;
    color: lightgray;
}

h2:after{
    display: block;
    height :2px;
    background-color: #5f27cd;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; 
}
h3{
    font-weight:300;
    text-transform: uppercase;
    font-size:110%;
    margin-bottom:15px;
}
/* --------paragraphs---------- */
p{
    color: #afa8a8;
    text-align: left;
}

.box p{
    font-size:90%;
    line-height: 145%;
}



.box{
    padding: 20px;
    background-color: white;
    box-shadow: rgba(27, 38, 49, 0.1) 0px 10px 22px 10px;
    margin-top: 50px; 
    transition: all 0.5s ease 0s;
    width: 30%;
    margin-left: 50px;
}
.box:hover{
    transform:scale(1.1);
}



/* ----------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------- */

header{
    background-image:linear-gradient(rgba(15, 15, 15, 0.8),rgba(22, 5, 5, 0.5)) ,url("../images/hero2.jpg");
    height:100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;

}
.fixed{
    background: rgba(143, 140, 140,0.8);
    position: fixed;
    width: 100%;
    z-index: 2;
    color: rgb(43, 151, 155);
    height: 60px;
    padding-top: 0px;
    
    margin-right: 40px;
    
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px 25px;
    margin-top: 30px;
    
}


.nav-links{
    display: flex;
    justify-content: flex-end;
}
.nav{
    
    margin: 10px 10px 10px;
    color: white;
    text-decoration: none;
    

}
.pro-name{
    color: #8e44ad;
    margin: 0 5px;
}
.pro-name:hover{
    border-bottom: 1px solid white;
    padding: 5px;
}
.nav:hover{
    
    
    border-bottom: 1px solid #8e44ad;
    padding: 5px;

}
.message{
position:Absolute;
top:35%;
left:30%;
}
.meal-message{
font-size: 240%;
font-weight: 300;
color:white;
text-transform: uppercase;
letter-spacing: 1px;
word-spacing:4px;
}
.last-part{
    color:#1dd1a1;
}


/* ------------iCONS------------- */
.icon{
    font-size: 220%;
    margin-bottom: 15px;
    color:#8e44ad;
}

/* ----------------------------------------------------------- */
/* FEATURES*/
/* ----------------------------------------------------------- */
.cards {
        margin: 40px auto;
        text-align: center;
        padding-left: 40px;
}

/* .cards{
display: flex;
text-align: center;
} */

/* ----------------------------------------------------------- */
/* Steps */
/* ----------------------------------------------------------- */




.img-div{
    text-align: right;
    padding-right:3%;
    margin-top: 30px;
    
}
.step-img{
    width:30%;  
}
.three-step{ 
    padding-left: 3%;
    margin-top:70px;
    margin-bottom: 50px;
}

.first{
    margin-bottom: 50px;
}

.first-step{
  
    border: 2px solid #8e44ad;
    border-radius: 50%;
    padding:5px;
    height: 55px;
    width: 55px;
    font-size: 150%;
    text-align: center;
    float:left;
    color: #8e44ad;
    display: inline-block;
    margin-right:25px;
    
}






/* ----------------------------------------------------------- */
/* Review*/
/* ----------------------------------------------------------- */


#review-section{
    background-image:linear-gradient(rgba(15, 15, 15, 0.8),rgba(22, 5, 5, 0.5)) ,url("../images/pexels-chan-walrus-958545.jpg");
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
   
}

.review-head{
    text-align: center;
    color: darkgray;
}

.card{
    background-color: #F0FFFF;
    color: grey;
    margin-top: 50px;
    padding: 15px;
    width: 30%;
    margin-left: 50px;
}


.star{
    
    color:purple;
    text-align: center;
    margin-top: 15px;
}
/* ----------------------------------------------------------- */
/* Sign up*/
/* ----------------------------------------------------------- */
.arrange{
    margin-top:26px;
   
}




.signup-parent {
    margin-top: 50px;
}
  
  
  .signup-child {
    border-width: 1px;
    border-color: rgb(134, 143, 161);
    border-style: solid;
    border-radius: 4%;
    /* margin-bottom: 4%; */
    font-size: 120%;
    text-align: center;

    

  }
  .signup-features .li {
    text-align: left;
    /* font-size: 123%; */
    line-height: 200%;
    border-bottom: 1px solid rgb(134, 143, 161);
    padding: 3%;

    
  }
  
  .signup-header {
    padding: 3%;
    border-bottom: 1px solid rgb(134, 143, 161);
    line-height: 150%;
    color: #B6C4B5;
  }
  
  .signup-button{
      margin-top:30px;
      height: 45px;
  }

  .pricing {
    font-size: 300%;
    color: #f63854;
  }
 
  .signup-features{
    padding-left: 7px;
    margin-bottom:15px;
  }
  .signup-child {
   
    transform: scale(0.8);
  }
  .active {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
    transform: scale(0.95);
  }
  #signup{
    padding: 50px;
    background: #F4F4F4; 
  }

 
  .small-icon{
    margin-right: 15px;
    color:#f63854;

  }


  /* ----------------------------------------------------------- */
/* Contact us */
/* ----------------------------------------------------------- */


  #contact-us{
    background-color: #212529;
  }
  .bg-video__content{
    height: 351px;
    margin-right: 50px;
    margin-top: 100px;
    margin-left: 100px;
  }
  .text{
    border-radius: 3px;
    outline: none;
    border: none;
    height: 54px;
    margin: 20px auto;
    background-color: #F1EDED;
    width: 600px;
    padding: 18px;
  }
  .area{
      height:120px;
  }
  .send-mes{
    margin: 40px;
    text-align: left;
  }
  .agree{
    margin: 36px 0;
  }
  .send{
    padding: 10px;
    height: 51px;
  }
  .contact-form{
      margin-top: 50px;
  }

  /* ----------------------------------------------------------- */
/* Footer*/
/* ----------------------------------------------------------- */

footer{
    background-color:#3A3838 ;
}
  .footer-text{
      display :flex;
    
     
  }
  .footer-parent{
    
    display: flex;
    justify-content: space-between;
    padding: 55px;
   font-size: 1.7rem;
  
   
  }
  ul {
    list-style-type: none;
}
.social-link{
    display:flex;
}
.text-value{
    margin: 0px 15px;
}
a{
    text-decoration: none;
    
}
.footer-p{
    text-align:center;
    font-size: 1.5rem;
    padding-bottom: 50px;
}
.icon-footer{
margin: 0 20px;
color:white;
}
.text-value a{
    color:white;
}